/* Flip Card animation */

.card-container {
    -webkit-perspective: 500px;
            perspective: 500px;
}

.card-container:hover .card {
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

.card {
    -webkit-transition: -webkit-transform 2s;
            transition: transform 2s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.front, .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

/* Card design */

.card {
  width: 40em;
  height: 33em;
  margin: auto;
  margin-top: 5em;
  background-color: rgb(240, 168, 234);
  padding: 1em;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: 1em;
}

.front, .back {
  box-shadow: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-align: center;
}

body {
    background-color: #e4dddd;
    color: white;
}

/* Images responsive and lay-out */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    padding: 0 1em;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 0.5em;
}

.column img {
    margin-top: 0.5em;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 50em) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 37.5em) {
    .column {
       -ms-flex: 100%;
       flex: 100%;
       max-width: 100%;
    }
}
