/* Random stylings */
* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
}

a {
    color: white;
    text-align: center;
}

body {
    background-color: #e4dddd;
    color: white;
}

/* Flip Card animation */

.card-container {
    -webkit-perspective: 500px;
            perspective: 500px;
}

.card-container:hover .card {
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

.card {
    -webkit-transition: -webkit-transform 2s;
            transition: transform 2s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.front, .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

/* Images responsive and lay-out */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    padding: 0 1em;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 0.5em;
}

.column img {
    margin-top: 0.5em;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 50em) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 37.5em) {
    .column {
       -ms-flex: 100%;
       flex: 100%;
       max-width: 100%;
    }
}




/* Card design MOBILE*/
/* Card met animation, logo */
.card {
  height: 25em;
  background-color: rgb(240, 168, 234);
  text-align: center;
}

.front, .back {
  box-shadow: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

/* Info mezelf*/
.me {
  height: 20em;
  margin-top: -1em;
  background-color: rgb(240, 168, 234);
  text-align: center;
}

/* Contacten card */
.contact {
    height: 5em;
    margin-top: -2em;
    background-color: rgb(240, 168, 234);
    text-align: center;
  }



/* Card design desktop window */
/* Card met animation, logo */

@media  only screen and (min-width: 992px){
     /* Card met animation, logo */
.card {
    height: 20em;
    width: 10em;
    float: right;
    margin-top: 1em;
    margin: 10em;
    background-color: rgb(240, 168, 234);
    text-align: center;
  }
}

@media only screen and (min-width: 992px){
    .contact {
        height: 10em;
        width: 3em;
        margin-top: -2em;
        background-color: rgb(240, 168, 234);
        text-align: center;
      } 
}

@media only screen and (min-width: 992px){
    .me {
        height: 10em;
        width: 3em;
        margin-top: -1em;
        background-color: rgb(240, 168, 234);
        text-align: center;
      }  
}

